

//
// Color system
//

$white: #fff !default;
$gray-100: #fafafa !default;
$gray-200: #f3f3f3 !default;
$gray-300: #ededed !default;
$gray-400: #cbc8d0 !default;
$gray-500: #9595a6 !default;
$gray-600: #868e96 !default;
$gray-700: #444 !default;
$gray-800: #343a40 !default;
$gray-900: #17141f !default;
$black: #000 !default;


// PRIMARY
$orange:    #F59C32 !default;
$navy:    #1b3573 !default;
$purple: #472777 !default;
$green:   #3d4e17 !default;
$red: #9a031e  !default;

// LIGHT
$navy-100: #FBFBFF !default;
$navy-200: #f0f0fD !default;
$navy-300: #f5f6ff !default;
$purple-200: #f9f8fc !default;
$green-200: #f0fff0 !default;
$red-200: #fff0f0 !default;

// DARK
$navy-900: #03031f !default;
$purple-900: #17141f !default;
$green-900: #141a08 !default;
$red-900: #200106 !default;

// COMMON
$danger: #e42525 !default;
$warning: #efa31d !default;
$success: #0f7738 !default;
$info:    #383838 !default;

//DARK
$dark-danger: #7a0f0f !default;
$dark-warning: #835709 !default;
$dark-success: #073519 !default;

//LIGHT
$light-danger: #F39696 !default;
$light-warning: #f2b64d !default;
$light-success: #15a44d !default;